rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /la_verdu_users/{userEmail} {
      allow read, write: if true;
    }
  }
}
